@inherits ShortCodeComponentBase

<div @attributes="this.Attributes">
    @this.ChildContent
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        this.AddClasses("alert");
    }
}
