@inherits ShortCodeComponentBase

<div id="@this.Id" @attributes="this.Attributes">
    <div class="carousel-inner">
        @this.ChildContent
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#@this.Id" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#@this.Id" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        this.AddClasses("carousel", "slide");

        if(string.IsNullOrEmpty(this.Id))
        {
            this.Id = Guid.NewGuid().ToString("N");
        }
    }
}