@inherits ShortCodeComponentBase

<div @attributes="this.Attributes">
    @this.ChildContent
</div>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        this.AddClasses("carousel-item");
    }
}