
.blz-layout-landing {
	[x-slot="hero"] .carousel {
		@extend .text-bg-primary;
		@extend .p-5;

		color: $light;

		a,
		a:visited,
		a:hover,
		a:focus,
		a:active {
			color: $light;
		}
	}
}
