<div class="blz-layout-default">
    <x-placeholder class="navbar-expand-lg bg-primary" data-bs-theme="dark" x-part="nav" x-provider="navbar" />
    <div class="container mt-4">
        <aside x-part="left-panel"></aside>
        <main>
          <article x-part="main"></article>
        </main>
        <aside x-part="right-panel"></aside>
    </div>
    <footer class="text-bg-dark">
      <div class="container-fluid mt-4 p-4" x-part="footer"></div>
    </footer>
    <div class="navigation-indicator" aria-hidden="true">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading…</span>
        </div>
    </div>
</div>
