<div class="blz-layout-default">
    <nav class="navbar-expand-lg bg-primary" data-bs-theme="dark" x-slot="nav" x-provider="navbar" />
    <div class="container mt-4">
        <aside x-slot="left-panel" x-provider="default"></aside>
        <main>
          <article x-slot="main" x-provider="default"></article>
        </main>
        <aside x-slot="right-panel" x-provider="default"></aside>
    </div>
    <footer class="text-bg-dark">
      <div class="container-fluid mt-4 p-4" x-slot="footer" x-provider="default"></div>
    </footer>
    <div class="navigation-indicator" aria-hidden="true">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading…</span>
        </div>
    </div>
</div>
